@keyframes ldio-jhf5q0y5q5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-jhf5q0y5q5 div {
  left: 45px;
  top: 22px;
  position: absolute;
  animation: ldio-jhf5q0y5q5 linear 1s infinite;
  background: #d14200;
  width: 10px;
  height: 10px;
  border-radius: 5px / 5px;
  transform-origin: 5px 28px;
}
.ldio-jhf5q0y5q5 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.875s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.75s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.625s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.375s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.25s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.125s;
  background: #d14200;
}
.ldio-jhf5q0y5q5 div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: #d14200;
}
.loadingio-spinner-spinner-mhgpzd36gm {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-jhf5q0y5q5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jhf5q0y5q5 div {
  box-sizing: content-box;
}
