.list-group-item-action {
  &:active {
    color: $info;
    background-color: transparent;
  }
}

.list-group-item {
  &.active {
    color: $info;
    background-color: transparent;
    border-color: $list-group-border-color;
    border-bottom: 5px solid $info;
  }
}
